@use "abstracts/colors" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
  font-weight: bold;
  cursor: pointer;

  &:focus-visible {
    outline: dotted lighten($bright-blue, 15) 2px;
    outline-offset: 2px;
  }
}

html {
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  text-align: center;

  color: $dark-blue;
  background-color: $pale-blue;
}

body {
  display: grid;
  place-items: center;
}
