@use "abstracts/variables" as *;
@use "abstracts/colors" as *;
@use "abstracts/functions" as *;
@use "abstracts/mixins" as *;
@use "base/global";
@use "base/ripple";
@use "components/plan";
@use "components/card-img";

/*
  The "magic numbers" in the middle of the clamp functions (or $mid in clamp() mixin) are:
  viewport value which is equal to the minimum value(first argument of clamp()) 
  at 375px viewport/screen width width.
  why: to make elements fluidly responsive.
*/

.card {
  margin: 24px;
  width: 100%; // ie11
  max-width: 450px;

  border-radius: $card-bd-radius;
  background-color: $white;

  box-shadow: 0px 14px 20px 0px hsla(0, 0%, 0%, 0.071);
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 53px 48px; // fallback
  padding: min(8.8vw, 53px) min(6.3944vw, 48px);
}

.card__title {
  @include clamp(font-size, toRem(21.92), 5.84013vw, toRem(28));
  margin-bottom: 17px;
  width: 100%;
}

.card__payment-btn,
.card__cancel-btn {
  @include clamp(font-size, 0.95rem, 4.04974vw, 1rem);
  user-select: none;
}

.card__payment-btn {
  height: 50px;
  width: 100%;
  margin-bottom: toRem(15.2);

  color: $pale-blue;
  background-color: $bright-blue;
  border-radius: 12px;

  box-shadow: 0px 15px 20px transparentize($bright-blue, 0.75);
  transition: background-color 250ms;

  &:hover {
    background-color: lighten($bright-blue, 10);
  }
}

.card__cancel-btn {
  padding: 0 10px;
  color: $desaturated-blue;
  transition: color 250ms, box-shadow 250ms;

  &:hover {
    color: $dark-blue;
  }
}
