@use "abstracts/variables" as *;
@use "abstracts/colors" as *;
@use "abstracts/functions" as *;
@use "abstracts/mixins" as *;
@use "base/global";
@use "base/ripple";
@use "components/plan";
@use "components/hero-img";

/*
  The "magic numbers" in the middle of the clamp functions (or $mid in clamp() mixin) are:
  viewport value which is equal to the minimum value(first argument of clamp()) 
  at 375px viewport/screen width width.
  why: to make elements fluidly responsive.
*/

.card {
  margin: 24px;
  width: 100%; // ie11
  max-width: 450px;

  border-radius: $card-bd-radius;
  background-color: $white;

  box-shadow: 0px 14px 20px 0px hsla(0, 0%, 0%, 0.071);
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include min(padding-top, 8.8vw, 46px);
  @include min(padding-bottom, 8.8vw, 49px);
  @include min(padding-left, 6.3944vw, 48px);
  @include min(padding-right, 6.3944vw, 48px);
}

.card__title {
  @include clamp(font-size, toRem(21.92), 5.84013vw, toRem(28));
  margin-bottom: 17px;
  width: 100%;
}

.card__payment-btn,
.card__cancel-btn {
  font-size: toRem(15.2);
}

.card__payment-btn {
  height: 50px;
  width: 100%;
  margin-bottom: toRem(15.2);
  @include clamp(margin-bottom, 24px, 3vw, 31px);

  color: $pale-blue;
  background-color: $bright-blue;
  border-radius: 12px;

  box-shadow: 0px 15px 20px transparentize($bright-blue, 0.75);
  transition: background-color 250ms;

  &:hover {
    background-color: lighten($bright-blue, 10);
  }
}

.card__spinner-container {
  display: none; // js
}

.card__spinner-svg {
  transform-origin: 50% 50%;
  transition-timing-function: ease;
  transition-property: opacity, transform;
  animation: load-show 250ms normal ease, load-spinner 0.6s infinite linear;
}

@keyframes load-spinner {
  to {
    transform: rotate(1turn);
  }
}

@keyframes spinner-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card__cancel-btn {
  padding: 0 10px;
  color: $desaturated-blue;
  transition: color 250ms, box-shadow 250ms;

  &:hover {
    color: $dark-blue;
  }
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
