@use "abstracts/colors" as *;
@use "abstracts/functions" as *;
@use "abstracts/mixins" as *;

$plan-gap: toRem(20);
$plan-icon-width: toRem(48);
$plan-change-btn-width: toRem(53);

.plan {
  --plan-gap: #{$plan-gap};
  --plan-icon-width: #{$plan-icon-width};
  --plan-change-btn-width: #{$plan-change-btn-width};

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @include flex-gap($plan-gap); // fallback
  @include flex-gap(var(--plan-gap));
  @include clamp(margin-bottom, toRem(24), 6.3944vw, toRem(33));

  width: 100%;
  @include clamp(padding, toRem(16), 4.26288vw, toRem(24));

  background-color: $very-pale-blue;
  border-radius: 13px;

  > * {
    float: left; // for IE
  }
}

.plan__icon {
  @include variable(width, --plan-icon-width, $plan-icon-width);
  height: toRem(49);

  border-radius: 50%;
  background-color: #dfe6fb;
  background-image: url("../images/icon-music.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.plan__details {
  // prettier-ignore
  --plan-details-width: calc(
    100% - var(--plan-icon-width) - var(--plan-change-btn-width) - (var(--plan-gap) * 2)
  );

  @include variable(width, --plan-details-width, 165px);
  min-width: fit-content;
  text-align: left;
}

.plan__title,
.plan__amount {
  @include clamp(font-size, toRem(14), 3.4636vw, toRem(16));
}

.plan__title {
  @include clamp(margin-bottom, 0px, 0.3472vw, 5px);
  font-weight: 900;
}

.plan__amount {
  color: $desaturated-blue;
}

.plan__change {
  position: relative;
}

.plan__change-btn {
  min-width: fit-content;
  @include variable(width, --plan-change-btn-width, $plan-change-btn-width);
  @include clamp(font-size, toRem(12), 3.4636vw, toRem(14.08));
  font-weight: 900;
  color: $bright-blue;
  text-decoration: underline;

  &:not(.btn-disabled):hover {
    color: lighten($bright-blue, 10);
  }
}
